<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wartanker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron mt-3">
            <h1>{{ title }}</h1>     
            <div style="margin: 0 0 10px 0">
                <input type="text" class="form-control" name="input" placeholder="Input">       
            </div>
            <div class="input-group" style="margin: 0 0 10px 0">
                <div class="input-group-prepend">
                    <span class="input-group-text">Result</span>
                </div>
                <textarea class="form-control"></textarea>
            </div>
            <button type="button" class="btn btn-secondary">ok</button>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-l" aria-haspopup="true" aria-expanded="false">Web</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-l">
                        <a class="dropdown-item" href="#">XSS Test</a>
                    </div>
                </li>
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-l" aria-haspopup="true" aria-expanded="false">Crypto</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-l">
                        <a class="dropdown-item" href="#">Base Encode</a>
                        <a class="dropdown-item" href="#">Base Decode</a>
                    </div>
                </li>
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-h" aria-haspopup="true" aria-expanded="false">Reversing</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-h">
                        <a class="dropdown-item" href="#">Crypto Solver</a>
                    </div>
                </li>
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-h" aria-haspopup="true" aria-expanded="false">Pwnable</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-h">
                        <a class="dropdown-item" href="#">Online Terminal</a>
                    </div>
                </li>
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-h" aria-haspopup="true" aria-expanded="false">Hash</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-h">
                        <a class="dropdown-item" href="#">Hash Encrypt</a>
                        <a class="dropdown-item" href="#">Hash Decrypt</a>
                    </div>
                </li>
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-h" aria-haspopup="true" aria-expanded="false">Forensic</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-h">
                        <a class="dropdown-item" href="#">File Info</a>
                        <a class="dropdown-item" href="#">Find String in File</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>