<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wartanker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron mt-3">
            <h1>{{ title }}</h1>  
            <div style="margin: 0 0 10px 0">
            {% if title=='crypto-base-encode' %}   
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="base" id="b16" value="16">
                    <label class="form-check-label" for="b16">base16</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="base" id="b32" value="32">
                    <label class="form-check-label" for="b32">base32</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="base" id="b64" value="64">
                    <label class="form-check-label" for="b64">base64</label>
                </div>
            {% elif title in ['hash-encrypt', 'hash-decrypt'] %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="func" id="m5" value="md5">
                    <label class="form-check-label" for="m5">md5</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="func" id="s1" value="sha1">
                    <label class="form-check-label" for="s1">sha1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="func" id="s256" value="sha256">
                    <label class="form-check-label" for="s256">sha256</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="func" id="s384" value="sha384">
                    <label class="form-check-label" for="s384">sha384</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="func" id="s512" value="sha512">
                    <label class="form-check-label" for="s512">sha512</label>
                </div>
            {% endif %}
            </div>
            <div style="margin: 0 0 10px 0">
                {% if title == 'web-post' %}
                    <input type="text" class="form-control" id="url" placeholder="URL">
                    <input type="text" class="form-control" id="form-data" placeholder="form" disabled>
                    <input type="text" class="form-control" id="json-data" placeholder="json">
                {% else %}
                    <input type="text" class="form-control" id="input" placeholder="Input">       
                {% endif %}
            </div>
            <div class="input-group" style="margin: 0 0 10px 0">
                <div class="input-group-prepend">
                    <span class="input-group-text">Result</span>
                </div>
                <textarea class="form-control" id="output"></textarea>
            </div>
            <button type="button" id="okBtn" class="btn btn-secondary">ok</button>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-l" aria-haspopup="true" aria-expanded="false">Web</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-l">
                        <a class="dropdown-item" href="/web/xss">XSS Test</a>
                        <a class="dropdown-item" href="/web/post">Send POST data</a>
                    </div>
                </li>
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-l" aria-haspopup="true" aria-expanded="false">Crypto</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-l">
                        <a class="dropdown-item" href="/crypto/base-encode">Base Encode</a>
                        <a class="dropdown-item" href="/crypto/base-decode">Base Decode</a>
                        <a class="dropdown-item" href="/hash/encrypt">Hash Encrypt</a>
                        <a class="dropdown-item" href="/hash/decrypt">Hash Decrypt</a>
                        <a class="dropdown-item" href="/crypto/solver">Crypto Solver</a>
                    </div>
                </li>
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-h" aria-haspopup="true" aria-expanded="false">Pwnable</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-h">
                        <a class="dropdown-item" href="/pwnable/terminal">Online Terminal</a>
                    </div>
                </li>
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-h" aria-haspopup="true" aria-expanded="false">Forensic</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-h">
                        <a class="dropdown-item" href="/forensic/file-info">File Info</a>
                        <a class="dropdown-item" href="/forensic/find-flag">Find String in File</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- <script src="{{ url_for('static', filename='./js/request.js') }}"></script> -->
    <script>
        menu = location.pathname;
        if (menu == '/crypto/base-decode') {
            $(document).ready(function() {
                $("#okBtn").click(function() {
                    $.post("/api/decode/base", {enc:$("#input").val()}, function(data) {
                        $("#output").val(data);
                    });
                });
            });
        }
        else if (menu == '/crypto/base-encode') {
            $(document).ready(function() {
                $("#okBtn").click(function() {
                    var baseVal = $('input[name="base"]:checked').val();
                    $.post("/api/encode/base", {plain:$("#input").val(), base:baseVal}, function(data) {
                        $("#output").val(data);
                    });
                });
            });
        }
        else if (menu == '/hash/encrypt') {
            $(document).ready(function() {
                $("#okBtn").click(function() {
                    var hashVal = $('input[name="func"]:checked').val();
                    $.post("/api/encrypt/hash",  {plain:$("#input").val(), func:hashVal}, function(data) {
                        $("#output").val(data);
                    });
                });
            });
        }
        else if (menu == '/hash/decrypt') {
            $(document).ready(function() {
                $("#okBtn").click(function() {
                    var hashVal = $('input[name="func"]:checked').val();
                    $.post("/api/decrypt/hash", {hash:$("#input").val(), func:hashVal}, function(data) {
                        $("#output").val(data);
                    });
                });
            });
        }
        else if (menu == '/web/post') {
            $(document).ready(function() {
                $("#okBtn").click(function() {
                    var funcVal = $('input[name="func"]:checked').val();
                    $.post("/api/web/post", {
                        url: $("#url").val(),
                        json: $("#json-data").val(),
                        data: $("#form-data").val()
                    }, function(data) {
                        $("#output").val(data);
                    });
                });
            });
        }
    </script>
</body>

</html>