<head>
    <script src="{{ url_for('static', filename='./js/Chart.js') }}"></script>
</head>
<body>
    <div class="chart-wrap">
        <canvas id="chart"></canvas>
    </div>
<script>
    var chartDefault = {
        type: 'bar',
        data: {
            labels: {{ base_data['labels']|safe }},
            datasets: [{
                type: 'bar',
                label: 'base64',
                data: {{ base_data['base64']|safe }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            },
            {
                type: 'bar',
                label: 'base32',
                data: {{ base_data['base32']|safe }},
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function(value) {if (value % 1 === 0) {return value;}}
                    }
                }]
            }
        }
    };
    var chart = new Chart(document.getElementById("chart"), chartDefault);
</script>
</body>
