<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropup">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-l" aria-haspopup="true" aria-expanded="false">Web</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-l">
                    <a class="dropdown-item" href="/web/xss">XSS Test</a>
                    <a class="dropdown-item" href="/web/post">Send POST data</a>
                </div>
            </li>
            <li class="nav-item dropup">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-l" aria-haspopup="true" aria-expanded="false">Crypto</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-l">
                    <a class="dropdown-item" href="/crypto/base-encode">Base Encode</a>
                    <a class="dropdown-item" href="/crypto/base-decode">Base Decode</a>
                    <a class="dropdown-item" href="/hash/encrypt">Hash Encrypt</a>
                    <a class="dropdown-item" href="/hash/decrypt">Hash Decrypt</a>
                    <a class="dropdown-item" href="/crypto/solver">Crypto Solver</a>
                </div>
            </li>
            <li class="nav-item dropup">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-h" aria-haspopup="true" aria-expanded="false">Pwnable</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-h">
                    <a class="dropdown-item" href="/pwnable/terminal">Online Terminal</a>
                </div>
            </li>
            <li class="nav-item dropup">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-h" aria-haspopup="true" aria-expanded="false">Forensic</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-h">
                    <a class="dropdown-item" href="/forensic/file-info">File Info</a>
                    <a class="dropdown-item" href="/forensic/find-string">Find String in File</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
